# Padoru Event Notif Environment Variables

# Google Sheets URL for event data
GOOGLE_SHEET_URL=https://docs.google.com/spreadsheets/d/1RQ2PZMRKjBVHpG0ettmuiDjjxzpF7OfFDfXlJDT0ElE/edit?gid=672618632#gid=672618632
