# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables & secrets
.env
.env.*
.dev.vars

# macOS-specific files
.DS_Store

# Cloudflare Wrangler files
.wrangler/
wrangler-*.log

# jetbrains setting folder
.idea/
.agents/*
skills-lock.json
